.display-4{
  color:white!important;
}
.jumbotron{
  color:gray!important;
}

.gazo-box1,.gazo-box2 {
float: left !important;
padding-right: 4px !important;
}

.figure_img{
  width:25vw;
  height:20vw;
}
.gazo-box1,.gazo-box2 {
  /*width:400px;
  height:350px;*/
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;	/* 相対位置指定 */
}
.caption{
  font-size: 24px;
}
.gazo-box1 .caption,.gazo-box2 .caption {
	position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 150%;
}
.gazo-box1 .mask,.gazo-box2 .mask {
	width: 99%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.gazo-box1:hover .mask,.gazo-box2:hover .mask {
	opacity:		1;	/* マスクを表示する */
}
.content{
  font-size: 12px !important;
}
