.home_figure_img{
  background-size: cover;
  background-position: center center;
  width:1500px;
}
.footer_content a{
  text-decoration: none;
}
.footer_content a:hover{
  color:white;
}

.gazo-box1,.gazo-box2{
  margin: 20px;
}
.img-group{
  padding-top: 45px;
}
.img-content{
  padding: 0px;
  margin: 0px;
  background-color: red;
}
.mask:hover{
  border: 8px solid silver!important;
}
.toeic-exam h2{
  float: left;
  font-family:'Times New Roman';
}
.top-text p{
  float: left;
  color:black;
}
.caption{
  font-family:'arial unicode ms';
}
.top-section{
  margin-top: 50px;
}
.second2{
  border: 2px solid #009900; /*線の太さ・色*/
}

/*PC*/
@media screen and (min-width:960px){
  .caption{
    font-size: 1.25vw!important;
  }
  .toeic-exam {
    text-align:center;
    margin-right: 23.5em;
    margin-left: 23.5em;
    border: 2px solid #4682b4; /*線の太さ・色*/
    background-color: #fff; /*背景色*/
    box-shadow: -2px 5px 5px #e8d3c7; /*影*/
    border-radius: 20px; /*角の丸み*/
    padding: 30px;
    margin-bottom: 60px;
  }
  .toeic-exam img{
    width:25vw;
    height:20vw;
    /*margin: 20px;*/
  }
  .top-text p{
    font-size:16px;
  }


  /*---Start--footer------*/
  .link{
    font-size: 18px;
    padding: 2px;
  }

  .footer_parent,.footer_parent2{
    font-size: 24px;
    font-weight: bold;
  }

  .footer_list,.footer_list2{
    display: inline-table;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
  }
  .footer_list a,.footer_list2 a{
    color: silver;
  }
    /*---Finish--footer------*/
  .img_content{
    margin-left:12%;
    margin-right: 8%;
  }
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#news_fields{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:1% auto;
  width:80vw!important;
}
li p{
  margin-top:20px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 150%;
  color: white;
  border-top: 1px solid white;
  border-width: thin;
}
ul {
   text-align: center;
}
li {
  display: -moz-inline-box;
  display: inline-block;
  display: inline;
  zoom: 1;
  padding-right: 10px;

}

.footer {
margin-top: auto;
/*position: absolute;
float: left;
bottom: -200px;
width: 100%;
height: 130px;*/
background-color: black!important;
}
body > .container {
padding: 60px 15px 0;
}
/*.container*/
.text-muted {
margin: 20px 0;
color:white!important;
}
.icon-facebook{
  color: red;
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
}

.display-4{
  color:white!important;
}
.jumbotron{
  color:gray!important;
}

.figure_img{
  width:30em;
  height:25em;
}
.gazo-box1,.gazo-box2 {
  /*float: left !important;*/
  display:inline-block;
  /*padding-right: 4px !important;*/
  /*width:400px;
  height:350px;*/
	overflow:		hidden;
	/*margin:			10px 36px 10px 16px;*/
	position:		relative;	/* 相対位置指定 */
}
.caption{
  font-size: 24px;
}
.gazo-box1 .caption,.gazo-box2 .caption {
	position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 150%;
}
.gazo-box1 .mask,.gazo-box2 .mask {
	width: 100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.gazo-box1:hover .mask,.gazo-box2:hover .mask {
	opacity:		1;	/* マスクを表示する */
}


.content{
  font-size: 12px !important;
}
}
/*Tablet*/
@media screen and (min-width:561px) and (max-width:960px){
  .toeic-exam {
    text-align:center;
    margin-right: 2.5%;
    margin-left: 2.5%;
    border: 2px solid #4682b4; /*線の太さ・色*/
    background-color: #fff; /*背景色*/
    box-shadow: -2px 5px 5px #e8d3c7; /*影*/
    border-radius: 20px; /*角の丸み*/
    padding: 30px;
    margin-bottom: 60px;
  }
  .toeic-exam img{
    width:20em;
    height:15em;
    /*margin: 20px;*/
  }
  .top-text p{
    font-size:15px;
  }
  .link{
    font-size: 18px;
    padding: 2px;
  }

  .footer_parent,.footer_parent2{
    font-size: 24px;
    font-weight: bold;
  }

  .footer_list,.footer_list2{
    display: inline-block;
    color: white;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
  }
  .footer_list a,.footer_list2 a{
    color: silver;
  }
  .img_content{
    margin-left: 80px;
  }
body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#news_fields{
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:1% auto;
}
li p{
  margin-top:20px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 150%;
  color: white;
  border-top: 1px solid white;
  border-width: thin;
}
ul {
   text-align: center;
}
li {
  display: -moz-inline-box;
  display: inline-block;
  display: inline;
  zoom: 1;
  padding-right: 10px;

}

.footer {
margin:auto;
width: 100%;
  /*
position: absolute;
float: left;
bottom: -50px;

/* Set the fixed height of the footer here */
height: 250px;
background-color: black!important;
padding-bottom: 500px;
}
body > .container {
padding: 60px 15px 0;
}
/*.container*/
.text-muted {
margin: 20px 0;
color:white!important;
}
.icon-facebook{
  color: red;
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
}

.display-4{
  color:white!important;
}
.jumbotron{
  color:gray!important;
}



.figure_img{
  width:32.5vw;
  height:25vw;
}
.gazo-box1,.gazo-box2 {
  /*width:400px;
  height:350px;*/
	overflow:		hidden;
	margin:			10px 36px 10px 16px;
	position:		relative;	/* 相対位置指定 */
}
.caption{
  font-size: 24px;
}
.gazo-box1 .caption,.gazo-box2 .caption {
  float: left !important;
  padding-right: 4px !important;
	position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 150%;
}
.gazo-box1 .mask,.gazo-box2 .mask {
	width: 99%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.gazo-box1:hover .mask,.gazo-box2:hover .mask {
	opacity:		1;	/* マスクを表示する */
}


.content{
  font-size: 12px !important;
}
}
/*SmartPhone*/
@media screen and (max-width:560px){
  .toeic-exam {
    text-align:center;
    border: 2px solid #4682b4; /*線の太さ・色*/
    background-color: #fff; /*背景色*/
    box-shadow: -2px 5px 5px #e8d3c7; /*影*/
    border-radius: 20px; /*角の丸み*/
    padding-top: 30px;
    padding-bottom: 30px;
    /*padding-right: 30px;*/
    /*padding-left: 5px;*/
    margin-bottom: 60px;
    margin-right: 3%;
    margin-left: 3%;
  }
  .toeic-exam img{
    width:12em;
    height:10em;

    /*margin: 20px;
    margin-left: 80px;*/
  }
  .img-group{
    margin-left: 50px;
  }
  .gazo-box1 img{
    /*margin-bottom: 30px;*/
  }
  .gazo-box2 img{
    margin-left: 60px;
  }
  /*.img-group{
    margin-left: 12%;
  }
  */
  .top-text p{
    font-size:15px;
  }

#news_fields{
  margin-left: 1em;
  list-style: none;
}

.img_content{
  /*margin-left: 80px;*/
}
.footer_list{
  padding-bottom: 20px;
}
.footer{
  text-align:center;
  }
  #twitter,#facebook{
    display: inline-block;
  }
  #facebook{
    padding-bottom: 30px;
    padding-right: 30px;
  }

  .footer_children, .footer_children2,{
    text-align: center;
  }
  .footer_children .link, .footer_children2 .link{
    /*display: inline-block;*/
  }
  .footer_list,.footer_list2{
    display:inline-table;
  }
  .footer_parent,.footer_parent2{
    font-size: 16px;
    font-weight: bold;
  }

  .footer {
  bottom:-100px;
  width: 100%;
  height: 250px;
  background-color: black!important;
  padding-bottom: 150px;
  }
  .footer_children2 .link{
    /*background-color:red;*/
    }
  .footer_list,.footer_list2{
    color: white;
  }
  .footer_list a,.footer_list2 a{
    color: silver;
  }
  .link{
    text-align: center;
    font-size: 15px;
    padding: 1px;
  }
  .footer_content li {
    font-size: 12px!important;
  }

body,#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#news_fields{
}

body > .container {
padding: 10px 15px 0;
}
/*.container*/
.text-muted {
margin: 20px 0;
color:white!important;
}
.icon-facebook{
  color: red;
}

.footer > .container {
padding-right: 0px;
padding-left: 0px;
}

.display-4{
  color:white!important;
  font-size: 54px;
}
.jumbotron{
  color:gray!important;
}


.figure_img{
  /*width:85vw;
  height:70vw;*/
}

.gazo-box1,.gazo-box2 {
  /*float: left !important;
  padding-left: 20px !important;*/
  /*width:400px;
  height:350px;*/
  position: relative;
	overflow:		hidden;
	margin:			10px 8px 10px -60px;
	position:		relative;	/* 相対位置指定 */
}
.caption{
  font-size: 15px;
  font-family:'arial unicode ms';
  color:black;
}
/*
.gazo-box1 .caption,.gazo-box2 .caption {
	position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 150%;
}*/

.gazo-box1 .mask {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
.gazo-box2 .mask{
  position: absolute;
  top: 50%;
  left: 65%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
/*
.gazo-box1:hover .mask,.gazo-box2:hover .mask {
	opacity:		1;
}
*/



.content{
  font-size: 12px !important;
}
}
