.content{
  text-align: center;
	display: block;
}
.content_upload{
  text-align: left;
	display: inline-block;
  font-size: 110%!important;
  /*text-align: center!important;*/
  padding-left: 5%!important;
  padding-bottom: 20px;
}
.upload_btn{
  padding-top: 20px;
}
.content_upload_text{
  font-size: 110%!important;
  /*text-align: center!important;*/
  padding-left: 5%!important;
  padding-bottom: 20px;
  text-shadow: 1px 1px 0 silver;
  padding-top: 50px;
  padding-bottom: 50px;
}
.content_upload a{
  color: black;
  font-weight: bold;
}
