{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/ans_past/">過去問解答検索</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ans_upload/">解答アップロード</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form-->
</div>
{% endblock %}


{% block content %}

  {% image self.banner_image width-1500 as img %}

  <div class="jumbotron" style="background-image :url(/static/img/writing-1149962_1920.width-3500.jpg); background-size: cover; background-position:center center;">
    <!--img src="/static/img/writing-1149962_1920.width-3500.jpg" class="home_figure_img"/--->
    <h1 class="display-4">{{ self.banner_title }}</h1>
    <div class="lead">{{ self.banner_subtitle|richtext}}</div>
  </div>

  <div id="news_fields" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="mr-auto">News</strong>
      <!--button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</>
      </button-->
    </div>
    <div class="toast-body">
      {% for block in page.content %}
      {% include_block block %}
      {% endfor %}


    </div>
  </div>

  <div class="img_content">
  <a href="ans_past/" class="gazo-box1">
    <img src="/static/img/startup-593327_1920.jpg" class="figure_img"/>
      <div class="mask">
        <div class="caption">過去問解答</div>
      </div>
  </a>
  <a href="ans_upload/" class="gazo-box2">
    <img src="/static/img/computer-1209641_1920.jpg" class="figure_img" />
      <div class="mask">
        <div class="caption">解答アップロード</div>
      </div>
  </a>
  </div>



{% endblock %}
