{% extends "base.html" %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/flex_page.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなのTOEIC</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/my-minto/">わたしのTOEIC</a>
          <a class="dropdown-item" href="/minto/">みんなのTOEIC</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなの過去問</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ans_past/">過去問解答検索</a>
          <a class="dropdown-item" href="/ans_upload/">解答アップロード</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form-->
</div>
{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!--li class="breadcrumb-item"><a href="#">Library</a></li-->
  <li class="breadcrumb-item active">過去問検索</li>
</ol>



  <h1>国公立大学</h1>
  <div class="table_all">
    <table class="table table-hover">
  <thead>
  </thead>
  <tbody>
    <tr class="table-active">
      <td><a href="hokkaido-u/">北海道大学</a></td>
      <td><a href="tohoku-u/">東北大学</a></td>
      <td><a href="tokyo-u/">東京大学</a></td>
    </tr>
    <tr>
      <td><a href="nagoya-u/">名古屋大学</a></td>
      <td><a href="kyoto-u/">京都大学</a></td>
      <td><a href="osaka-u/">大阪大学</a></td>
    </tr>
    <tr class="table-primary">
      <td><a href="kyushu-u/">九州大学</a></td>
      <td><a href="tokyo-city-u/">東京都立大学</a></td>
      <td></td>
    </tr>
    <!--
    <tr class="table-secondary">
      <th scope="row">Secondary</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-success">
      <th scope="row">Success</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-danger">
      <th scope="row">Danger</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-warning">
      <th scope="row">Warning</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-info">
      <th scope="row">Info</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-light">
      <th scope="row">Light</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr class="table-dark">
      <th scope="row">Dark</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    -->
  </tbody>
</table>
</div>
<h1>私立大学</h1>
<div class="table_all">
  <table class="table table-hover">
<thead>
</thead>
<tbody>
  <tr class="table-success">
    <td><a href="waseda-u/">早稲田大学</a></td>
    <td><a href="keio-u/">慶應義塾大学</a></td>
    <td><a href="jochi-u/">上智大学</a></td>
  </tr>
  <!--
  <tr>
    <td>名古屋大学</td>
    <td>京都大学</td>
    <td>大阪大学</td>
  </tr>
  <tr class="table-primary">
    <td>九州大学</td>
    <td></td>
    <td></td>
  </tr>

  <tr class="table-secondary">
    <th scope="row">Secondary</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-success">
    <th scope="row">Success</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-danger">
    <th scope="row">Danger</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-warning">
    <th scope="row">Warning</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-info">
    <th scope="row">Info</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-light">
    <th scope="row">Light</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-dark">
    <th scope="row">Dark</th>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  -->
</tbody>
</table>
</div>
{% endblock %}
