<div class="chart" id="{{self.RinkID}}">
<canvas id="{{self.IDname}}"></canvas>
<script>
var ctx = document.getElementById("{{self.IDname}}");
var myPieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["500~600点", "600~700点", "700~800点", "800~900点","900点以上"],
    datasets: [{
        backgroundColor: [
            "#BB5179",
            "#FAFF67",
            "#58A27C",
            "#3C00FF",
            "black",
        ],
        data: [{{self.int1}},{{self.int2}},{{self.int3}},{{self.int4}},{{self.int5}}]
    }]
  },
  options: {
    tooltips: {
      titleFontSize: 24,
      bodyFontSize: 24,
    },
    title: {
      display: true,
      text: '{{self.research_name}}研究科 点数割合',
      fontSize: 28,
    },
    legend: {
          labels: {
              fontSize: 24,
          }
      },

  }
});
</script>
</div>
