{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/answer.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなのTOEIC</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/my-minto/">わたしのTOEIC</a>
          <a class="dropdown-item" href="/minto/">みんなのTOEIC</a>
          <!--a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a-->
        </div>
      </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなの過去問</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ans_past/">過去問解答検索</a>
          <a class="dropdown-item" href="/ans_upload/">解答アップロード</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a id="right-tab" target="_blank" class="nav-link" href="https://kenkyu-navi.com/index.php?page=top">研究室選びはこちらから</a>
    </li>
  </ul>
  <!-- form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form -->
</div>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/ans_past/">過去問解答検索</a></li>
  <li class="breadcrumb-item active">{{self.title}}</li>
</ol>

<div class="answer_content">
  <h1>{{self.title}}</h1>


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#first">2019</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#second">2018</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#third">2017</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#four">2016</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#five">2015</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li-->
    <!--li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </li-->
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="first">
      {% for block in page.first %}
      {% include_block block %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="second">
      {% for block in page.second %}
      {% include_block block %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="third">
      {% for block in page.third %}
      {% include_block block %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="four">
      {% for block in page.four %}
      {% include_block block %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="five">
      {% for block in page.five %}
      {% include_block block %}
      {% endfor %}
    </div>
  </div>

</div>
<!--
<h1>{{self.title}}</h1>
{% for block in page.content %}
{% include_block block %}
{% endfor %}
-->

{% endblock %}
