{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/myminto.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなのTOEIC</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/my-minto/">わたしのTOEIC</a>
          <a class="dropdown-item" href="/minto/">みんなのTOEIC</a>
          <!--a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a-->
        </div>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなの過去問</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ans_past/">過去問解答検索</a>
          <a class="dropdown-item" href="/ans_upload/">解答アップロード</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
</div>
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/my-minto/">わたしのTOEIC</a></li>
</ol>



<div class="contents">

<!--
ここに動画かランディングページを行う！
-->
<div class="forming">
  <form action="{% pageurl page %}" method="POST">
    {% csrf_token %}
    <table class="contact_form">
      {% for field in form %}
       <div class="field">
           {{ field.label_tag }}：
           {{ field }}
           {% if field.help_text %}
              <br><span class="helptext">{{ field.help_text }}</span>
           {% endif %}
           {{ field.errors }}
       </div>
     {% endfor %}
    </table>
    <div class="job_input_btn"><input type="submit" class="btn btn-primary"></div>
  </form>
</div>

<div class="movie">
  <h4>みんなのTOEIC ~使い方解説動画~</h4>
  <iframe width="500" height="270" src="https://www.youtube.com/embed/ryar_CYIEds?loop=1&autoplay=1"
  frameborder="0" allow="accelerometer; autoplay; clipboard-write;
  encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>





{% endblock %}
