{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block css_file %}
<!--
<link href="{% static '/css/minto/p_style.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static '/css/minto/p_bundle.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static '/css/minto/header.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static '/css/minto/common20151027101432.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static '/css/minto/footer.css' %}" rel="stylesheet" type="text/css" media="all">
-->
<link rel="stylesheet" type="text/css" href="{% static 'css/minto.css' %}">
<link href="{% static '/css/minto/common_newbrand.css' %}" rel="stylesheet" type="text/css" media="all">


{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなのTOEIC</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/my-minto/">わたしのTOEIC</a>
          <a class="dropdown-item" href="/minto/">みんなのTOEIC</a>
          <!--a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a-->
        </div>
      </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなの過去問</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ans_past/">過去問解答検索</a>
          <a class="dropdown-item" href="/ans_upload/">解答アップロード</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a id="right-tab" target="_blank" class="nav-link" href="https://kenkyu-navi.com/index.php?page=top">研究室選びはこちらから</a>
    </li>
  </ul>
</div>
{% endblock %}


{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/minto/">みんなのTOEIC</a></li>
</ol>



<div class="contents">
    {% for post in posts %}
        {% for block in page.UNIV %}
          {% include_block block %}
        {% endfor %}
      {% endfor %}

      <div class="container paninator">
        <div class="row">
          <div class="col-lg-12">

            {% if posts.paginator.num_pages > 1 %}
            <div class="pagination">
              {% if posts.has_previous %}
                <li class="page-item">
                  <a href="?page={{ posts.previous_page_number }}" class="page-link">
                    <span>&laquo;</span>
                  </a>
                </li>
              {% endif %}

              {% for page_num in posts.paginator.page_range %}
              <li class="page-item {% if page_num == posts.number %} active{% endif %}">
                <a href="?page={{ page_num }}" class="page-link">
                  {{ page_num }}
                </a>
              </li>
              {% endfor %}

              {% if posts.has_next %}
                <li class="page-item">
                  <a href="?page={{ posts.next_page_number }}" class="page-link">
                    <span>&raquo;</span>
                  </a>
                </li>
              {% endif %}
            </div>
            {% endif %}

          </div>
        </div>
      </div>
</div>
{% endblock %}
