@charset "utf-8";

body{
	font:12px/1.231 "ＭＳ Ｐゴシック","MS PGothic",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Osaka,sans-serif;
}

a:link,
a:visited{ color:#0066cf; text-decoration:none; }
a:hover,
a:active{ color:#0066cf; text-decoration:underline; }

/*  header
============================================*/
#header{ margin:0; margin-bottom:6px; padding:0; font-size:100%; line-height:1.8; text-align:left; }
#header div.headerCon{
	width:960px;
	margin:0 auto;
	padding:2px 0 0px; /*overflow:hidden;*/
	zoom:1;
}
#header div.headerCon:after{ clear:both; display:block; visibility:hidden; height:0; content:"";}
#header li{ display:block; margin-left:0; }
#header div.headerL{
	width:353px;
	float:left;
	background:url(/images/common/header_bg_star.jpg) no-repeat 278px 6px;
}
#header div.headerL h1,
#header div.headerL p{
	margin-bottom:12px;
	text-align:left;
	font-size:0.86em;
	color:#999999;
}
#header div.headerL p.siteLogo{ float:left; padding:0 10px 0 0; }
#header div.headerL p.siteCatch{ float:left; }
#header div.headerR{
	width:600px;
	float:right;
	padding-top: 4px;
}
#header div.headerR ul.userLink{ float:left; margin-bottom:15px; }
#header div.headerR ul.userLink li{ float:left; padding:0 15px 0 0; }
#header div.headerR ul.memberLink{
	float:right;
	margin-bottom:15px;
	padding:13px 0 0;
	line-height:1em;
}
#header div.headerR ul.memberLink li{
	float:left;
	margin-right:12px;
	padding-right:11px;
	/* [disabled]text-align:right; */
	border-right:#c9c9c9 1px solid;
	font-size: 0.92em;
	position:relative;
	padding-top:3px;
	line-height:1em;
}
#header div.headerR ul.memberLink li.last{
	border-right:none;
	padding-right: 0px;
	margin-right: 0px;
}
#header div.headerR ul.memberLink li a{
	padding-top:3px;
	padding-bottom:3px;
}
#header div.headerR ul.memberLink li.downIcon a{
	background:url(/images/common/icon_arrow_btm.png) no-repeat right 7px;
	padding-right:10px;
}
#header div.headerR ul.memberLink li li{
	line-height:1.0;
	padding-right:0;
}
#header div.headerR ul.memberLink li.userIcon{
	background:url(/images/common/icon_user.gif) no-repeat 0 0;
	padding-left:15px;
}

#header div.headerR ul.headerLink{
	float:right;
	padding:10px 0 0;
	overflow: hidden;
	zoom: 1;
}
#header div.headerR ul.headerLink li{
	float:left;
	height:12px;
}
#header div.headerR ul.headerLink li a{
	background:url(/images/common/btn_header_link.gif) no-repeat 0 0;
	width:100%;
	height:100%;
	text-indent:-9999px;
	display:block;
}
#header div.headerR ul.headerLink li.btn01{
	width:80px;
	margin-right:17px;
}
#header div.headerR ul.headerLink li.btn01 a{
	background-position:0 0;
}
#header div.headerR ul.headerLink li.btn01 a:hover{
	background-position:0 -12px;
}
#header div.headerR ul.headerLink li.btn02{
	width:116px;
	margin-right:13px;
}
#header div.headerR ul.headerLink li.btn02 a{
	background-position:-97px 0;
}
#header div.headerR ul.headerLink li.btn02 a:hover{
	background-position:-97px -12px;
}


#header div.headerR .menuBox{
	position:absolute;
	right:0;
	top:18px;
	padding:4px 0 0;
	background:url(/images/common/bg_header_popup_t.png) no-repeat left top;
	width: 157px;
	/* [disabled]height: 108px; */
	z-index: 1;
}
#header div.headerR .menuBoxBottom{
	padding:0 0 9px;
	background:url(/images/common/bg_header_popup_b.png) no-repeat left bottom;
}
#header div.headerR .menuBoxCont{
	padding:5px 0 0;
	background:url(/images/common/bg_header_popup_m.png) repeat-y left top;
	height: 100%;
}
#header div.headerR .menuBoxCont ul{
/*	margin:0 15px;*/
}
#header div.headerR .menuBoxCont ul li{
	float:none;
	margin-right:0;
	position:static;
	border:none;
	margin-bottom:5px;
}
#header div.headerR .menuBoxCont ul li a{
	background:none !important;
}
#header div.headerR .menuBoxCont ul.topCont{
	padding:5px 15px 5px;
	background:url(/images/common/bg_menubox_line.gif) no-repeat bottom;
}
#header div.headerR .menuBoxCont ul.topCont li{
	font-size:1.2em;
}
#header div.headerR .menuBoxCont ul.bottomCont{
	padding:5px 15px 5px;
}
#header div.headerR div.search{
	clear:both;
	padding:0 0 0 0px;
	overflow: hidden;
	zoom: 1;
}
.freeWordBox{
	position:relative;
	background:url(/images/common/bg_freeword.gif) no-repeat left top;
	height:31px;
	width:307px;
	overflow:hidden;
	zoom:1;
}
#header div.headerR div.search .freeWordBox{
	width:251px;
	float: right;
	margin-right: 3px;
}
div.headerR div.search .freeWordBox form{
	width:100%;
	overflow:hidden;
	position:relative;
}
div.headerR div.search .freeWordBox .tf{
	position:absolute;
	width:200px;
	height:1.2em;
	top:9px;
	left:8px;
	background:none;
	border:none;
	line-height:1.1em;
	outline:none;
}
#header div.headerR div.search .freeWordBox .btnSearch{
	background:url(/images/common/btn_freeword.gif) no-repeat left top;
	float:right;
	width:32px;
	height:31px;
	display:block;
	text-indent:-9999px;
	padding:0;
	margin:0;
}
#header div.headerR div.search .freeWordBox .btnSearch:hover{
	background-position:left bottom;
}

#header div.headerR p.rirekiBtn, #header div.headerR p.orderBtn{
	float:right;
	margin-left: 7px;
}
#header div.gnav{
	height:46px;
	background:url(/images/common/header_bg_gnav.gif) repeat-x 0 0;
	clear: both;
}
#header div.gnav .gnavInner{ width:960px; margin:0 auto; padding:3px 0 0; overflow:hidden; zoom:1; }
#header div.gnav dl{ float:left; margin:0; padding:0; overflow:hidden; zoom:1; }
#header div.gnav dt,
#header div.gnav dd{
	float:left;
	height:36px;
	margin:0;
	padding:0;
}
#header div.gnav dd a{
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px;
}

#header div.gnav .cat01 dd.btn01{ width:85px; }
#header div.gnav .cat01 dd.btn01 a{ background:url(/images/common/btn_gnav_future.png) no-repeat left top; }
#header div.gnav .cat01 dd.btn02{ width:82px; }
#header div.gnav .cat01 dd.btn02 a{ background:url(/images/common/btn_gnav_self_analysis.png) no-repeat left top; }

#header div.gnav .cat02 dd.btn03{ width:56px; }
#header div.gnav .cat02 dd.btn03 a{ background:url(/images/common/btn_gnav_study.png) no-repeat left top; }
#header div.gnav .cat02 dd.btn05{ width:88px; }
#header div.gnav .cat02 dd.btn05 a{ background:url(/images/common/btn_gnav_workshikaku.png) no-repeat left top; }

#header div.gnav .cat03 dd.btn01{ width:89px; }
#header div.gnav .cat03 dd.btn01 a{ background:url(/images/common/btn_gnav_daitan.png) no-repeat left top; }
#header div.gnav .cat03 dd.btn02{ width:82px; }
#header div.gnav .cat03 dd.btn02 a{ background:url(/images/common/btn_gnav_vocational.png) no-repeat left top; }
#header div.gnav .cat03 dd.btn03{ width:132px; }
#header div.gnav .cat03 dd.btn03 a{ background:url(/images/common/btn_gnav_oc.png) no-repeat left top; }
#header div.gnav .cat03 dd.btn04{ width:89px; }
#header div.gnav .cat03 dd.btn04 a{ background:url(/images/common/btn_gnav_exam.png) no-repeat left top; }
#header div.gnav .cat03 dd.btn05{ width:125px; }
#header div.gnav .cat03 dd.btn05 a{ background:url(/images/common/btn_gnav_other.png) no-repeat left top; }
#header div.gnav dd a:hover{
	background-position:left bottom !important;
}

#header div.gnav ul{ width:960px; margin:0 auto; padding:3px 0 0; overflow:hidden; }
#header div.gnav ul li{ float:left; }
#header div.gnav ul li a{ height:35px; display:block; background:url(/images/common/header_gnav.jpg) no-repeat 0 0; text-indent:-9999px; }
#header div.gnav ul li.gnav1 a{ width:171px; background-position:0 0; }
#header div.gnav ul li.gnav2 a{ width:154px; background-position:-171px 0; }
#header div.gnav ul li.gnav3 a{ width:195px; background-position:-325px 0; }
#header div.gnav ul li.gnav4 a{ width:186px; background-position:-520px 0; }
#header div.gnav ul li.gnav5 a{ width:119px; background-position:-706px 0; }
#header div.gnav ul li.gnav6 a{ width:135px; background-position:-825px 0; }

#header div.alert{
	background:#ffd6d6;
	padding:2px 0;
	clear: both;
}
#header div.alert .alertInner{
	width:960px;
	margin:0 auto;
	text-align:center;
}
#header div.alert span{
	padding-bottom: 5px;
}
#header div.alert a{
	text-decoration:underline;
}
#header div.alert a:hover{
	text-decoration:none;
}


/*============================================
  ブランド統合 共通ヘッダー Style上書き
============================================*/

#header div.headerCon {
	padding-top: 10px;
}
#header div.headerL {
	background: none;
}
#header div.headerL h1, #header div.headerL p {
	margin-bottom: 12px;
	font-size: 10px;
	line-height: 1.4;
}
#header div.headerL p.siteLogo {
	margin-bottom: 10px;
}
#header div.headerL p.siteCatch {
	display: none;
}
#header div.headerR {
	padding-top: 0;
}
#header div.headerR ul.memberLink {
	margin-bottom: 16px;
	padding: 2px 0 0 0;
}
#header div.headerR ul.memberLink li {
	font-size: 12px;
	line-height: 1;
	margin-right: 22px;
	padding: 0;
	border-right: none;
}
#header div.headerR ul.memberLink li.last {
	margin-right: 10px;
}
#header div.headerR ul.memberLink li a {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
}
#header div.headerR ul.memberLink li a:after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 5px;
	height: 5px;
	transform: rotate(45deg);
	transform-origin: 50%;
	border-top: 1px solid #0033cc;
	border-right: 1px solid #0033cc;
	right: -8px;
	margin-top: -3px;
}
#header div.headerR .headerR__badge {
	top: 23px;
	left: 427px;
}
#header div.headerR .headerR__badge .headerR__badge__count {
	font-size: 10px;
	line-height: 20px;
}
#header div.headerR div.search .freeWordBox {
	background: none;
	border: 1px solid #cbcbcb;
	border-radius: 4px;
	box-sizing: border-box;
	height: 36px;
	width: 262px;
}
#header div.headerR div.search .freeWordBox .tf {
	left: 10px;
	top: 10px;
	width: 210px;
}
#header div.headerR div.search .freeWordBox .btnSearch {
	background: url(/images/common/btn_freeword.png) no-repeat left top;
	height: 35px;
	margin: -1px -1px 0 0;
	width: 35px;
	z-index: 100;
}
#header div.headerR div.search .freeWordBox .btnSearch:hover {
	background-position: left top;
	opacity: 0.7;
}
#header div.headerR div.search p.rirekiBtn {
	margin-left: 13px;
}
#header div.headerR div.search p.rirekiBtn .btnSummarizeSS--new {
	height: 35px;
}
#header div.headerR div.search p.rirekiBtn .btnSummarizeSS--new:hover {
    opacity: 0.7;
    text-decoration: none;
    background: url(/images/common/icon_header_matomete_new.png) no-repeat 10px 9px;
}
#header div.headerR div.search p.orderBtn {
	margin-left: 6px;
}
#header div.headerR div.search p.orderBtn .btnPamphletSSW--new {
	height: 35px;
}
#header div.headerR div.search p.orderBtn .btnPamphletSSW--new:hover {
    opacity: 0.7;
    text-decoration: none;
    background: url(/images/common/icon_header_pamphlet.png) no-repeat 10px 10px;
}
#header div.gnav {
	margin-bottom: 3px;
}


/*============================================
  共通
============================================*/

/*  パンくず
============================================*/
#pankuzu{ width:960px; margin:0 auto 15px; text-align:left; line-height:1em; }
#pankuzu ul{ width:100%; margin:0; padding:0; list-style:none; overflow:hidden; }
#pankuzu ul li{ font-size:0.86em; float:left; padding-right:5px; }
#pankuzu ul li a{ padding:0 10px 0 0; background:url(/images/common/icon_pankuzu_arrow.gif) no-repeat right 2px; }
#pankuzu ul li a:hover{ text-decoration:underline;}

#pankuzu a:link,
#pankuzu a:visited{ color:#0066cf; text-decoration:none; }
#pankuzu a:hover,
#pankuzu a:active{ color:#0066cf; text-decoration:underline; }

/*--  第2パンくず罫線 --*/
#pankuzu #pankuzu_keisen {
width: 940px;
margin: 5px 0 0 10px;
padding: 0 0 0 10px;
background: url(/images/common/icon_pankuzu_keisen.gif) no-repeat left 3px;
}

/*  ボタン
============================================*/
.btnRireki,
.btnGurdian,
.btnSocietyMember,
.btnListRight,
.btnPamphletSS,
.btnPamphletS,
.btnPamphletM,
.btnPamphletL,
.btnOpenCamS,
.btnOpenCamM,
.btnOpenCamL,
.btnApplicationSS,
.btnApplicationS,
.btnApplicationM,
.btnApplicationL,
.btnGanPamS,
.btnGanPamM,
.btnGanPamL,
.btnMailmagaSS,
.btnMap,
.btnRoute,
.btnJoin,
.btnKininaru,
.btnListS,
.btnAddListAll,
.btnSummarizeS,
.btnSummarizeSS,
.btnPamphletSSW,
.btnPamKisotsuS{
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.btnRireki{ width:210px; height:34px; background:url(/images/common/header_btn_rireki.png) no-repeat 0 0; }
.btnRireki:hover{ background-position:-210px 0; }
.btnGurdian{ width:119px; height:36px; background:url(/images/common/btn_school_guardian.gif) no-repeat 0 0 !important; }
.btnGurdian:hover{ background-position:0 -36px !important; }
.btnSocietyMember{ width:119px; height:36px; background:url(/images/common/btn_school_guardian.gif) no-repeat -119px 0; }
.btnSocietyMember:hover{ background-position:-119px -36px; }
.btnListRight{ width:35px; height:102px; background:url(/images/gakko/btn_listadd_right.gif) no-repeat 0 0; }
.btnListRight:hover{ background-position:0 -102px; }
.btnPamphletS{ width:139px; height:29px; background:url(/images/common/btn_gakko_s.png) no-repeat 0 0; }
.btnPamphletS:hover{ background-position:-139px 0; }
.btnPamphletSS{ width:118px; height:28px; background:url(/images/common/btn_gakko_ss.png) no-repeat 0 0; }
.btnPamphletSS:hover{ background-position:-118px 0; }
.btnPamphletM{ width:186px; height:56px; background:url(/images/common/btn_gakko_m.png) no-repeat 0 0; }
.btnPamphletM:hover{ background-position:-186px 0; }
.btnPamphletL{ width:226px; height:63px; background:url(/images/common/btn_gakko_l.png) no-repeat 0 0; }
.btnPamphletL:hover{ background-position:-226px 0; }
.btnOpenCamS{ width:166px; height:29px; background:url(/images/common/btn_gakko_s.png) no-repeat 0 -87px; }
.btnOpenCamS:hover{ background-position:-167px -87px; }
.btnOpenCamM{ width:186px; height:41px; background:url(/images/common/btn_gakko_m.png) no-repeat 0 -59px; }
.btnOpenCamM:hover{ background-position:-186px -59px; }
.btnOpenCamL{ width:226px; height:63px; background:url(/images/common/btn_gakko_l.png) no-repeat 0 -63px; }
.btnOpenCamL:hover{ background-position:-226px -63px; }
.btnGanPamS{ width:138px; height:29px; background:url(/images/common/btn_gakko_s.png) no-repeat 0 -58px; }
.btnGanPamS:hover{ background-position:-139px -58px; }
.btnGanPamM{ width:186px; height:56px; background:url(/images/common/btn_gakko_m.png) no-repeat 0 -144px; }
.btnGanPamM:hover{ background-position:-186px -144px; }
.btnGanPamL{ width:226px; height:63px; background:url(/images/common/btn_gakko_l.png) no-repeat 0 -190px; }
.btnGanPamL:hover{ background-position:-226px -190px; }
.btnApplicationSS{ width:118px; height:28px; background:url(/images/common/btn_gakko_ss.png) no-repeat 0 -28px; }
.btnApplicationSS:hover{ background-position:-118px -28px; }
.btnApplicationS{ width:120px; height:29px; background:url(/images/common/btn_gakko_s.png) no-repeat 0 -29px; }
.btnApplicationS:hover{ background-position:-139px -29px; }
.btnApplicationM{ width:186px; height:41px; background:url(/images/common/btn_gakko_m.png) no-repeat 0 -101px; }
.btnApplicationM:hover{ background-position:-186px -101px; }
.btnApplicationL{ width:226px; height:63px; background:url(/images/common/btn_gakko_l.png) no-repeat 0 -127px; }
.btnApplicationL:hover{ background-position:-226px -127px; }
.btnMailmagaSS{ width:118px; height:28px; background:url(/images/common/btn_gakko_ss.png) no-repeat 0 -56px; }
.btnMailmagaSS:hover{ background-position:-118px -56px; }
.btnMap{width:67px; height:20px; background:url(/images/common/btn_map_route.gif) no-repeat 0 0; margin: 0 auto; }
.btnMap:hover{ background-position:-67px 0; }
.btnRoute{ width:67px; height:20px; background:url(/images/common/btn_map_route.gif) no-repeat 0 -20px; margin: 0 auto; }
.btnRoute:hover{ background-position:-67px -20px; }
.btnJoin{ width:120px; height:37px; background:url(/images/common/btn_join.png) no-repeat 0 0; }
.btnJoin:hover{ background-position:-120px 0; }
.btnKininaru{ width:149px; height:35px; background:url(/images/common/btn_kininaru.png) no-repeat 0 0; }
.btnKininaru:hover{ background-position:-149px 0; }
.btnListS{ width:112px; height:29px; background:url(/images/common/btn_listadd.png) no-repeat 0 0; }
.btnListS:hover{ background-position:0px -29px; }
.btnAddListAll{ width:172px; height:42px; background:url(/images/common/btn_listadd_all.png) no-repeat 0 0; }
.btnAddListAll:hover{ background-position:-172px 0; }
.btnSummarizeS{ width:182px; height:34px; background:url(/images/common/btn_summarize.png) no-repeat 0 0; }
.btnSummarizeS:hover{ background-position:0 -34px;}
.btnSummarizeSS{ width:129px; height:34px; background:url(/images/common/btn_summarize_ss.png) no-repeat 0 0; }
.btnSummarizeSS:hover{ background-position:0 -34px;}
.btnPamphletSSW{ width:150px; height:34px; background:url(/images/common/btn_pamphlet.png) 0 0; }
.btnPamphletSSW:hover{ background-position:0 -34px;}
.btnPamKisotsuS{ width:139px; height:40px; background:url(/images/common/btn_kisotsu_t_s.png) no-repeat 0 0; }
.btnPamKisotsuS:hover{ background-position:-139px 0; }
.btnOpenCamListS{
width: 166px;
height: 29px;
background: url(/images/common/btn_oclist_s.png) no-repeat 0 0;
display: block;
text-indent: -9999px;
overflow: hidden;
}
.btnOpenCamListS:hover{ background-position: -167px 0; }

/*  リンク
============================================*/
/*-- オレンジアイコン大 --*/
.iconOrangeL{ padding:0 0 0 15px; background:url(/images/common/icon_arrow_01.gif) no-repeat 0 0; }
/*-- オレンジアイコン小 --*/
.iconOrangeS,
.moreLink a,
.moreLink02 a,
.separateList li
.iconOrangeS a,
.newMessage li a,
.newArrivals dd a,
.campaignList dd a,
.pickupList dd a{ padding:0 0 0 8px; background:url(/images/common/icon_arrow_02.gif) no-repeat 0 4px !important; line-height:1.4em; display: inline-block; }

/*-- もっと見る --*/
.moreLink{ clear:both; text-align:right; }
.moreLink02 a{ clear:both; }
