{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block title %}
過去問 / 解答アップロード
{% endblock %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/ans_past/">過去問解答検索</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/ans_upload/">解答アップロード</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form-->
</div>
{% endblock %}
{% block content %}


<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!--li class="breadcrumb-item"><a href="#">Library</a></li-->
  <li class="breadcrumb-item active">解答アップロード</li>
</ol>

<div class="content_upload">
<h1>解答アップロード</h1>
<p>解答をアップロードしてください。</p>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
          {{ form.as_table}}
      </table>

      <input type="checkbox"  name="chkbox01" value="1" required>
      <p><a target="_blank" href="/rule">利用規約</a>に同意し、解答の掲載を許可する</p>
      <div class="upload_btn"><input type="submit" class="btn btn-primary"></div>
    </form>
</div>


{% endblock %}
