{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:site" content="@minnanoinshin" />
      <meta property="og:url" content="https://minshin.net" />
      <meta property="og:title" content="大学院入試のための情報サイト"/>
      <meta property="og:description" content="大学院入試における情報格差を是正するためにサイトを立ち上げました"/>
      <meta property="og:image" content="{% static 'img/twitter-card.png' %}" />
      <!--Google Adsense-->
      <script data-ad-client="pub-6355728912913665" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118360731-5"></script>
      <!--Google Adsense-->
      <script data-ad-client="ca-pub-1880543949107913" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-118360731-5');
      </script>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global javascript #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="./footerFixed.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/minshin.js' %}"></script>

        {# Global stylesheets #}
        <link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/minshin.css' %}">
        <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
        {% block css_file %}
        {% endblock %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <meta name="google-site-verification" content="aTDlaLHlln8KaV3vos7MLGAclpV6s3lHyULwJd9aNIc" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">

      <div id="wrapper">
        {% wagtailuserbar %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a id="title" class="navbar-brand" href="/"><img src="/static/img/1_Primary_logo_on_transparent_175x71.png" width="125" height="54"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% block header_tab %}
          {% endblock %}
        </nav>

        <div class="content">{% block content %}{% endblock %}</div>



        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}


        <footer class="footer">
          <p></p>
          <ul class="container">
            {% if settings.site_settings.SocialMediaSettings.facebook %}
              <li class="icon-facebook" id="facebook">
                <a href="{{settings.site_settings.SocialMediaSettings.facebook}}" target="_blank">
                  <i class="fab fa-facebook-f fa-3x" style="color:white"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.twitter %}
              <li class="icon-twitter" id="twitter">
                <a href="{{settings.site_settings.SocialMediaSettings.twitter}}" target="_blank">
                  <i class="fab fa-twitter fa-3x" style="color:white"></i>
                </a>
              </li>
            {% endif %}
            {% if settings.site_settings.SocialMediaSettings.youtube %}
              <li class="icon-youtube" id="youtube">
                <a href="{{settings.site_settings.SocialMediaSettings.youtube}}" target="_blank">
                  <i class="fab fa-youtube fa-3x" style="color:white"></i>
                </a>
              </li>
            {% endif %}
            <br>
            <div class="footer_content">
              <div class="footer_list">
                <div class="footer_parent">みんなの院試</div>
                  <div class="footer_children">
                    <div class="link"><a href="/about/">About</a></div>
                    <div class="link"><a href="/news/">ニュース</a></div>
                    <div class="link"><a href="/rule/">利用規約</a></div>
                    <div class="link"><a href="/privacy_policy/">プライバシーポリシー</a></div>
                    <!--div class="link"><a href="">リンク2</a></div-->
                  </div>
              </div>
              <div class="footer_list2">
                <div class="footer_parent2">サイト管理</div>
                  <div class="footer_children2">
                    <div class="link"><a href="/admin/"  target="_blank" rel="noopener noreferrer">管理人ページ</a></div>
                    <div class="link"><a href="/job/">採用情報</a></div>
                    <!--div class="link"><a href="">コード3</a></div-->
                  </div>
              </div>
              <!--div class="footer_list2">
                <div class="footer_parent2">リンクs</div>
                  <div class="footer_children2">
                    <div class="link"><a href="">コード１</a></div>
                    <div class="link"><a href="">コード2</a></div>
                    <div class="link"><a href="">コード3</a></div>
                  </div>
              </div>
            </div-->
            <li><p>Copyright © みんなの院試. All Rights Reserved.</p></li>
          </div>
          </ul>

        </footer>
        </div>
    </body>
</html>
