{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/ans_past/">過去問解答検索</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ans_upload/">解答アップロード</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form-->
</div>
{% endblock %}

{% block content %}
<h1>{{page.title}}</h1>
<p>{{self.thank_you_text|richtext}}</p>
{% endblock %}
