{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load widget_tweaks %}
{% load static %}


{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/details.css' %}">
{% endblock %}

{% block title %}
  {{content}} / みんなの院試
{% endblock %}




{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなのTOEIC</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/my-minto/">わたしのTOEIC</a>
          <a class="dropdown-item" href="/minto/">みんなのTOEIC</a>
          <!--a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a-->
        </div>
      </li>
    <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">みんなの過去問</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/ans_past/">過去問解答検索</a>
          <a class="dropdown-item" href="/ans_upload/">解答アップロード</a>
        </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/news/">ニュース</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a id="right-tab" target="_blank" class="nav-link" href="https://kenkyu-navi.com/index.php?page=top">研究室選びはこちらから</a>
    </li>
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form-->
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/details.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/alert.js' %}"></script>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="/ans_past/">過去問解答検索</a></li>
  <li class="breadcrumb-item"><a href="/ans_past/{{ univ }}">{{ univ_name }}</a></li>
  <li class="breadcrumb-item active">{{content}}</li>
  <!--li class="breadcrumb-item"><a href="/ans_past/{{self.university_link}}">{{self.university}}</a></li>
  <li class="breadcrumb-item active">{{self.title}}</li-->
</ol>

<!--
1.リプライ機能
2.参考になった機能ajax
-->

<div class="details_content">
  <div class="photo"><img src="{% static 'img/background.png' %}"></div>
    <div class="nav">
        <ul>
            <!--li><a href="{% static 'img/startup-593327_1920.jpg' %}"><img src="{% static 'img/startup-593327_1920.jpg' %}"></a></li>
            <li><a href="{% static 'img/writing-1149962_1920.width-3500.jpg' %}"><img src="{% static 'img/writing-1149962_1920.width-3500.jpg' %}"></a></li>
            <li><a href="{% static 'img/computer-1209641_1920.jpg' %}"><img src="{% static 'img/computer-1209641_1920.jpg' %}"></a></li-->
            {% for index, row in dx.iterrows %}
            <li><a href="{{row.img}}"><img src="{{row.img}}"></a></li>
            <!--li><a href="/static/img/computer-1209641_1920.jpg"><img src="/static/img/computer-1209641_1920.jpg"></a></li-->
            {% endfor %}
        </ul>
    </div>
  <div class="content_form">
    {% for index, row in df.iterrows %}
      {% if row.odd == True %}
        <div class="comment_class_odd">
          <div class="name">{{row.name}}</div>
          <div class="date">{{row.date}}</div>
          {% if row.rate == '合ってる(8割)' %}
          <div class="rate rate80">{{row.rate}}</div>
          {% elif row.rate == '概ね合ってる（6割）' %}
          <div class="rate rate60">{{row.rate}}</div>
          {% elif row.rate == 'あまり合っていない（４割）' %}
          <div class="rate rate40">{{row.rate}}</div>
          {% elif row.rate == '合ってない(４割以下)' %}
          <div class="rate rate20">{{row.rate}}</div>
          {% endif %}
          <div class="message">{{row.message}}</div>
        </div>
      {% else %}
      <div class="comment_class_even">
        <div class="name">{{row.name}}</div>
        <div class="date">{{row.date}}</div>
        {% if row.rate == '合ってる(8割)' %}
        <div class="rate rate80">{{row.rate}}</div>
        {% elif row.rate == '概ね合ってる（6割）' %}
        <div class="rate rate60">{{row.rate}}</div>
        {% elif row.rate == 'あまり合っていない（４割）' %}
        <div class="rate rate40">{{row.rate}}</div>
        {% elif row.rate == '合ってない(４割以下)' %}
        <div class="rate rate20">{{row.rate}}</div>
        {% endif %}
        <div class="message">{{row.message}}</div>
      </div>
      {% endif%}

    {% endfor%}
  </div>


  <div class="form_field">
    <form action method="POST">
      {% csrf_token %}
      <table class="details_form">
          <div class="send_contents_nickname">
            <div class="send nickname">ニックネーム：</div>
                {{ form.name |add_class:"form-name" }}<div class="warning_text">{{text}}</div><br>
          </div>
          <div class="send comment">コメント：</div>
          {{ form.message |add_class:"form-message"}}
          <div class="send comment" name="rate">{{ form.rate }}</div>
      </table>
      <div class="job_input_btn">
        <input type="submit" class="btn btn-primary" onclick="return check()">
      </div>
    </form>
  </div>

</div>

{% endblock %}
