{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block css_file %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about_page.css' %}">
{% endblock %}

{% block header_tab %}
<div class="collapse navbar-collapse" id="navbarColor01">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/ans_past/">過去問解答検索</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ans_upload/">解答アップロード</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact/">お問い合わせ</a>
    </li>
    <!--li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li-->
  </ul>
  <!--form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
  </form-->
</div>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <!--li class="breadcrumb-item"><a href="#">Library</a></li-->
  <li class="breadcrumb-item active">みんなの院試について</li>
</ol>
{% image self.banner_image width-1500 as img %}
<div class="jumbotron" style="background-image :url(/static/img/783b97d745f72fcf46f21a21c38b7c49_l.width-3500.jpg); background-size:cover; background-position:center center;">
  <h1 class="display-4">{{ self.banner_title }}</h1>
  <div class="lead">{{ self.banner_subtitle|richtext}}</div>
</div>

<div class="about">
  <div class="about_concept">CONCEPT</div>
  <div class="about_concept_text">みんなの院試の思想</div>
  {% for block in page.content %}
  {% include_block block %}
  {% endfor %}
</div>


{% endblock %}
