li{
  display: inline;
}
.content_contact{
  font-size: 110%!important;
  /*text-align: center!important;*/
  padding-left: 5%!important;
  padding-bottom: 20px;
}
.job_input_btn{
  padding-top: 20px;
}
